<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a Mercado Liebre</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,700&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/be2f25d2d7.js" crossorigin="anonymous"></script>
</head>
<body>

    <%- include("../partials/header") %> 

          
    <!-- Aquí va el formulario de registro -->
    <main>
        <h3 class="titular__registrese">Ingrese su usuario y contraseña</h3>

        <div class="container">

            <form id="form" class="form">

                <div class="form-control">
                    <label for="username">Nombre de usuario</label>
                    <input type="text" id="username" placeholder="Ingrese su usuario">
                    <small>Error en el nombre de usuario</small>
                </div>
                <div class="form-control">
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" placeholder="Ingrese su contraseña">
                    <small>Error en la contraseña</small>
                </div>

                <div class="submit-buttons">
                    <button type="submit">Ingresar</button>
                    <button type="reset">Borrar</button>
                </div>

            </form>


        </div>

        
    </main>

    <%- include("../partials/footer") %>

    <!-- link al archivo para la validacion del formulario-->
    <script src="/js/login-form-validator.js"></script>
    </body>
</html>

