<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a Mercado Liebre</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,700&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/be2f25d2d7.js" crossorigin="anonymous"></script>
</head>
<body>


    <%- include("../partials/header") %> 
    




          
    <!-- Aquí va el formulario de registro -->
    <main>

        <h3 class="titular__registrese">Regístrese.</h3>

            <div class="container">
            
                <!-- <form action="/index" method="post" class="form-control"> -->

                <form id="form" action="/index" method="post" class="form">
                
                    <div class="form-control">
                        <label for="fullname">Nombre Completo</label>
                        <input type="text" id="fullname" placeholder="Ingrese su usuario">
                        <small>Error en el nombre</small>
                    </div>

                    <div class="form-control">
                        <label for="username">Elija su nombre de usuario</label>
                        <input type="text" id="username" placeholder="Ingrese su usuario">
                        <small>Error en el nombre de usuario</small>
                    </div>

                    <div class="form-control">
                        <label for="email">Dirección de email</label>
                        <input type="text" id="email" placeholder="Ingrese su email" novalidate>
                        <small>Error en la dirección de email</small>
                    </div>

                    <div class="form-control">
                        <label for="birthday">Fecha de nacimiento</label>
                        <input type="date" id="birthday" >
                        <small>Error en la fecha de nacimiento</small>
                    </div>

                    <div class="form-control">
                        <label for="profilePic">Foto de perfil</label>
                        <input class="bgColorFFF" type="file" id="profilePic" accept=".jpg, .jpeg, .png">
                        <small>Error en la foto de perfil</small>
                    </div>

                    <div class="form-control">
                        <label for="password">Contraseña</label>
                        <input type="password" id="password" placeholder="Ingrese su contraseña">
                        <small>Error en la contraseña</small>
                    </div>

                    <div class="form-control">
                        <label for="password2">Repita su ontraseña</label>
                        <input type="password" id="password2" placeholder="Repita su contraseña">
                        <small>Error en la contraseña</small>
                    </div>

                    <div class="submit-buttons">
                        <button type="submit">Ingresar</button>
                        <button type="reset">Borrar</button>
                    </div>
                </form>
            
            
            </div>
        
    </main>

    <%- include("../partials/footer") %>
    <script src="/js/register-form-validator.js"></script>
</body>
</html>