<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a Mercado Liebre</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/alta-prod.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,700&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/be2f25d2d7.js" crossorigin="anonymous"></script>
</head>
<body>


    <%- include("../partials/header") %> 
    

          
    <!-- Aquí va el formulario de registro -->
    <main>

        <h3 class="titular__alta">Alta de producto para la venta</h3>

            <div class="container">
            
                <!-- <form action="/index" method="post" class="form-control"> -->

                <form id="form" action="/index" method="post">
                
                    <div class="form-control">
                        <label for="titulo">Titulo</label>
                        <input type="text" id="titulo" placeholder="Ingrese el nombre del producto" >
                    </div>

                     
                    <div class="form-control">
                        <label for="titulo">Categoria</label>
                        <select name="cat1">
                            <option>Elija una categoria: -----</option>
                            <% categorias.forEach(categoria => { %>
                                <option value="<%= categoria %>"><%= categoria %> </option>
                            <% }) %>
                        </select>
                        <input type="text" id="titulo" placeholder="O ingrese una categoria nueva" >
                    </div>

                    <div class="form-control">
                        <label for="precio">Precio del producto ($)</label>
                        <input class="ancho-inputs-numericos" type="text" id="titulo" placeholder="Indicar precio">
                    </div>

                    <div class="form-control">
                        <label for="descuento">Descuento del producto (%)</label>
                        <input class="ancho-inputs-numericos" type="text" id="descuento" placeholder="Indicar %" >
                    </div>

                    <div class="form-control">
                        <label for="detalle">Detalle del producto</label>
                        <textarea class="textarea" id="detalle" placeholder="Detalle del producto" ></textarea>
                    </div>

                    <div class="form-control">
                        <label for="imagen">Imagen del producto</label>
                        <input type="file" id="imagen" accept=".jpg, .jpeg, .png" >
                    </div>

                    <div class="form-control-row">
                        <label for="nuevo">Tipo de producto:</label>
                        <div>
                            <input class="radio" type="radio" name="nuevo" value="true"> <span class="radio-text">Nuevo</span>
                        </div>
                        <div>
                            <input class="radio" type="radio" name="nuevo" value="false"> <span class="radio-text">Usado</span>
                        </div>
                    </div>

                    <div class="submit-buttons">
                        <input class="boton" type="submit" value="Dar de Alta">
                        <input class="boton" type="reset" value="Borrar">
                    </div>
                </form>
            
            
            </div>
        
    </main>

    <%- include("../partials/footer") %>
</body>
</html>